<div class="text-center mt-3 mb-3">
    <form>
        <i aria-hidden="true" class="fa fa-search"></i>
        <input
            class="rounded"
            type="search"
            placeholder="Pesquesa..."
            (keyup)="debounce.next($event.target.value)"
            autofocus>
    </form>
</div>
<app-photos [photos]="photos | filterByDescription: filter"></app-photos>
<app-load-button 
    (click)="load()" 
    [hasMore]="hasMore">
</app-load-button>
<!--
    Databind e Eventbind são unidirecionais
    (keyup) -> vai do template para o componente
    [keyup] -> vai do componente para o template

    | é usado para filtar 
    {{ nome | pipeCriadoOuExistente }}

!-->
